body {
	background-color: #333;

	.App {
		padding: 20px;
		color: #ccc;

		.jobs {
			.job {
				background-color: #222;
				padding: 20px;
				margin: 0 0 20px 0;

				.header {
					display: flex;
					justify-content: space-between;
					.position {
						a {
							color: rgb(192, 111, 45);
						}
					}

					.status {
						background-color: #aaa;
					}
				}

				.skills {
					color: rgb(203, 203, 87);
				}

				.bulkText {
					font-size: .9rem;
				}
			}
		}

		ul.jobsList {
			li.job {
				a {
					color: rgb(192, 111, 45);
				}
			}
		}
	}
}